---
title: Projects
---
%p I tend to work on projects that address needs that I have. For now I'm not shooting for income, but rather enjoyment and personal utility.

%hr.project-activity

%section.deployed

  %h3 Deployed
  %ol.project-list.deployed
    - sorted_projects_by_status(:deployed).each do |project|
      %li
        %article
          %hgroup
            %h4
              %a{:href => url_for(project)}= project[:title]
            - if project[:subtitle]
              %h5= project[:subtitle]
          %footer
            .published
              Created on
              %time{:datetime => project[:created_at], :pubdate => true}= project[:created_at_text]

%hr.project-activity

%section.development

  %h3 Under Development
  %ol.project-list.development
    - sorted_projects_by_status(:development).each do |project|
      %li
        %article
          %hgroup
            %h4
              %a{:href => url_for(project)}= project[:title]
            - if project[:subtitle]
              %h5= project[:subtitle]
          %footer
            .published
              Created on
              %time{:datetime => project[:created_at], :pubdate => true}= project[:created_at_text]

%hr.project-activity

%section.retired

  %h3 Retired
  %ol.project-list.retired
    - sorted_projects_by_status(:retired).each do |project|
      %li
        %article
          %hgroup
            %h4
              %a{:href => url_for(project)}= project[:title]
            - if project[:subtitle]
              %h5= project[:subtitle]
          %footer
            .published
              Created on
              %time{:datetime => project[:created_at], :pubdate => true}= project[:created_at_text]

%hr.project-activity

%section.ideas

  %h3 Ideas
  %ol.project-list.ideas
    - sorted_projects_by_status(:idea).each do |project|
      %li
        %article
          %hgroup
            %h4
              %a{:href => url_for(project)}= project[:title]
            - if project[:subtitle]
              %h5= project[:subtitle]
          %footer
            .published
              Created on
              %time{:datetime => project[:created_at], :pubdate => true}= project[:created_at_text]

%hr.project-activity

%section.back-burner

  %h3 Back Burner
  %ol.project-list.back-burner
    - sorted_projects_by_status(:'back-burner').each do |project|
      %li
        %article
          %hgroup
            %h4
              %a{:href => url_for(project)}= project[:title]
            - if project[:subtitle]
              %h5= project[:subtitle]
          %footer
            .published
              Created on
              %time{:datetime => project[:created_at], :pubdate => true}= project[:created_at_text]
