---
title: Projects
---
%p I tend to work on projects that address needs that I have. For now I'm not shooting for income, but rather enjoyment and personal utility.

%hr.project-activity

%section.deployed

  %h3 Deployed
  %ol.project-list.deployed
    = list_of(sorted_projects_by_status(:deployed)) do |project|
      = render '_project', project: project

%hr.project-activity

%section.development

  %h3 Under Development
  %ol.project-list.development
    = list_of(sorted_projects_by_status(:development)) do |project|
      = render '_project', project: project

%hr.project-activity

%section.retired

  %h3 Retired
  %ol.project-list.retired
    = list_of(sorted_projects_by_status(:retired)) do |project|
      = render '_project', project: project

%hr.project-activity

%section.ideas

  %h3 Ideas
  %ol.project-list.ideas
    = list_of(sorted_projects_by_status(:idea)) do |project|
      = render '_project', project: project

%hr.project-activity

%section.back-burner

  %h3 Back Burner
  %ol.project-list.back-burner
    = list_of(sorted_projects_by_status(:'back-burner')) do |project|
      = render '_project', project: project
